*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.navbar{
    display: flex;
    gap: 1000px;
    width: 1315px;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(255, 250, 250);
}
.navbar-elon{
    margin-left: 50px;
    margin-top:15px ;
    margin-bottom: 15px;
 
}
.navbar select{
    margin-left: 50px;
    margin-top:15px ;
    margin-bottom: 15px;
    border: 0px;
}
.navbar-elon a{
    text-decoration: none;
    color: #2A81DD;
}
.option{
    border: 0px;
}
.sections {
display: flex;
gap: 30px;
list-style: none;
text-decoration: none;
padding-top: 20px;

}
.button{
    border-radius: 15;
    height: 40px;
    width: 120px;
    border: 1px grey;
    margin-top: 30px;
    margin-left: 170px; 
}
.button a{
    color: #2A81DD;
    text-decoration: none;
    font-size: 20px;
    
}
.href{
    display: flex;
    text-decoration: none;
    gap: 25px;
    justify-content: center;
    align-items: center;
    color: rgb(116, 192, 253);
}
.href a{
    text-decoration: none;
    color: #2A81DD;
    font-family: sans-serif;
    font-size: 13px;
   
}
.cars-sections{
    width: 1315;
    display: flex;
    text-decoration: none;
    gap: 30px;
    list-style: none;
    margin-left: 30px;
    height: 50px;
    background-color: #D6ECFB99; 
    align-items: center;
    padding-left: 15px;
    color: #2A81DD;
}
.cars-sections a{
    color: #2A81DD;
    font-size: 14px;
    font-family: sans-serif;
}
.automarket{
    padding-left: 35px;
    margin-top: 30px;
    font-size:28px;
    font-family: Arial, Helvetica, sans-serif;
}
.span-a{
    color: #2A81DD;
    list-style: none;
}
.span-a a{
    text-decoration: none;
    color: #2A81DD;
}

.img-div{
    margin-left: 30px;
}
.img-div img{
    width: 110px;
    height: 90px;
    padding-top: 25px;
    padding-left: 10px;
    transition: 0.6s all;
}

.img-div img:hover{
    transform: scale(1.2);
}

.button-down{
    border-radius: 10px;
    height: 40px;
    width: 120px;
    border: 1px grey;
    margin-top: 30px;
    margin-left: 170px;
    background-color: #2A81DD;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 600px;
}
.button-down a{
    color: white;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
}
.elon{
text-align: center;
justify-content: center;
margin-top: 30px;
}
.elon span{
    color: rgb(90, 89, 89);
    font-family: Arial, Helvetica, sans-serif
}
.line{
    border-top: 1.5px solid grey;
    width: 100%;
    margin: 20px;
}

.headerrrr{
    font-weight: 80;
    margin-left: 30px;
}

.table a{
    text-decoration: none;
    color: #4681E3;
    padding-left: 38px;
    padding-right: 80px;

}

.table td{
    padding-bottom: 7px;
}

.table tr{
 border-bottom:10px solid transparent;
}

.h22{
    font-weight: 80;
    font-size: 27px;
    margin-left: 30px;
    margin-top: 70px;
}

.yoqilgi a{
  text-decoration: none;
  color: #2A81DD;
}

.yoqilgi{
    display: flex;
    gap: 180px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.hh22{
    font-weight: 80;
    margin-left: 30px;

}

.madel{
    margin-top: 35PX;
}

.madel a{
font-weight: 80;
text-decoration: none;
color: #2A81DD;
margin-left: 35px;
margin-right: 90px;
}
.madel th{
    padding-bottom: 7px;
}

.madel tr{
   padding-top: 30px;
}

.car-sales{
    font-weight: 80;
    margin-top: 30px;
    margin-left:30px ;
}

 .car-sales-region th{
    font-weight: 80;
    color: #2A81DD;
    margin-left: 70px;
    margin-right: 60px;
 }
 .car-sales-region{
    padding-top: 35px; 
}
 

 .car-sales-region th{
 padding-left: 35px;
 padding-right: 80px;
 padding-bottom: 7px;
 }

 .carss{
    font-weight: 80;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
 }

 .table-down th{
  color: #2A81DD;
  font-weight: 30;
  padding-left:35px;
  padding-bottom: 10px;
  padding-right: 120px;
 }


 .down-nav{
    display: flex;
    list-style: none;
    gap: 140px;
    padding-left: 35px;
    margin-top: 70px;
    width: 100%;
    background-color: #F0F0F0;
    height: 40px;
    align-items: center;
 }

 .down-nav a{
    color: #2A81DD;
    text-decoration: none;
 }

 .down-wrapper{
    background-color: #1C1819;
    height: 270px;

 }

 .for-user span{
   font-size: 12px;
   color: rgb(117, 115, 115);
 }

 .for-user a{
   text-decoration: none;
   color: white;
   font-weight: 100;
   font-size: 15px;
 }

 .for-user p{
    padding-bottom: 20px;
 }
.for-user{
    margin-left: 50px;
    padding-top: 30px;
}

.app a{
    text-decoration: none;
    color: white;
    font-weight: 100;
    font-size: 15px;
}

.app p{
    padding-bottom: 10px;
    padding-top: 10px;
}

.app img{
    width: 220px;
    height: 50px;
    border-radius: 10px 10px;
}

.for-news p{
 color: white;
 padding-top: 30px;
}

.for-news img{
    width: 200px;
    height: 50px;
}


.down-wrapper{
    display: flex;
        gap: 150px;
}   